// ------------------font family start
$ff: "Work Sans", sans-serif;

// ------------------base color start
$paragraph: #262626;
$terciary: #f9f1fe;
$text: #575757;
$primary: #8842f0;
$white: #ffffff;
$black: #000000;

// --------------------additional color start
$grey: #d9d9d9;
$darkgrey: #6c6c6c;
$darkpurple: #1c1b1f;

// --------------------transition start
$transition: 0.2s all ease-in-out;

//---------------------breakpoints
$desktopsmall: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
